.App{
    width: 100vw;
    background-image: linear-gradient(to right,black,#051421);
}
.instaDevProfife{
    margin-top: 30px;
    display:flex;
    justify-content: center;
  
}
.developerh1{
    color: white;
    margin-top: 50px;
}